
@font-face {

  font-family: Amaranth-Bold;
  src: url(../fonts/Amaranth-Bold.otf),
       url(../fonts/Amaranth-Bold.eot),
       url(../fonts/Amaranth-Bold.svg),
       url(../fonts/Amaranth-Bold.ttf),
       url(../fonts/Amaranth-Bold.woff),
       url(../fonts/Amaranth-Bold.woff2);
}

@font-face {

  font-family: PTSans;
  src: url(../fonts/PTC55F.ttf),
       url(../fonts/PTC55F.eot),
       url(../fonts/PTC55F.svg),
       url(../fonts/PTC55F.otf),
       url(../fonts/PTC55F.woff2),
       url(../fonts/PTC55F.woff2);
}





