
.content{
  width: 1000px;
  margin: 322px auto 0;
  padding-bottom: 60px;

  .head{
    width: calc(100% + 22px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    .ribbon-wr{
      width: 100%;
      height: 132px;
      position: relative;

      .ribbon {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: radial-gradient(circle at 50% 50%, #ff9a33, #da480f);
        z-index: 10;

        .woman-wr{
          position: absolute;
          top: -284px;
          left: 138px;
        }

        .title{
          color: white;
          font-family: Amaranth-Bold;
          padding-top: 18px;
          padding-left: 93px;
          display: inline-flex;
          flex-direction: column;
          align-items: flex-end;

          span:nth-child(1){
            font-size: 32px;
          }
          span:nth-child(2){
            font-size: 75px;
            line-height: 56px;
          }
        }

        .form-wr{
          padding-right: 12px;
          position: absolute;
          bottom: 20px;
          right: 0;

          form{
            border-radius: 12px;
            background: #f5f8fb;
            padding: 17px 21px 20px 50px;
            margin-bottom: 18px;

            .form-title{
              font-family: Amaranth-Bold;
              font-size: 28px;
              color: $orange;
              margin-bottom: 10px;
              position: relative;
              z-index: 10;
            }

            input{
              width: 260px;
              display: block;
              background: white;
              height: 30px;
              border: 1px solid #d8d8d8;
              box-sizing: border-box;
              border-radius: 5px;
              padding: 0 11px;
              margin-bottom: 11px;
              position: relative;
              font-size: 14px;
              z-index: 10;
            }

              .button-wr{
                width: 100%;
                display: flex;
                justify-content: center;

                button{
                  padding: 3px 26px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 8px;
                  background-image: url("../img/btn-bg.png");
                  background-size: cover;
                  background-position: center center;
                  border: none;
                  cursor: pointer;

                  span{
                    font-size: 28px;
                    text-transform: uppercase;
                    font-family: Amaranth-Bold;
                    color: white;
                  }
              }
            }
          }

          .bottle{
            position: absolute;
            left: -272px;
            top: -50px;

            .bottle-title{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -10%);
            }
          }

          .bottom{
            display: flex;
            justify-content: flex-end;
            padding-right: 45px;

            .item{
              display: inline-flex;
              color: white;
              text-transform: uppercase;
              font-size: 14px;
              font-family: Amaranth-Bold;

              &:nth-child(1){
                margin-right: 28px;
              }
            }

            img{
              margin-right: 6px;
            }
          }

        }

      }

      &::before{
        content: '';
        display: block;
        position: absolute;
        top: 9px;
        left: -51px;
        width: 101px;
        height: 132px;
        background: url("../img/ribbon-left.png");
      }

      &::after{
        content: '';
        display: block;
        position: absolute;
        top: 9px;
        right: -51px;
        width: 101px;
        height: 132px;
        background: url("../img/ribbon-right.png");
      }
    }
  }

  .quarantee{
    padding: 20px 50px 20px 27px;
    background: rgba(255, 255, 255, .8);
    display: flex;
    align-items: center;

    .medal{
      margin-right: 22px;
    }

    .text{
      font-family: PTSans;
      font-size: 13px;
      line-height: 16px;
      color: #3d3d3d;
      
      
      .title{
        font-family: Amaranth-Bold;
        font-size: 41px;
        color: $orange;
        margin-bottom: 20px;
      }

    }

  }

  .advantage{
    ul{
      display: flex;

      li{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 119px;
        position: relative;

        .text-wr {
          position: relative;
          font-family: PTSans;
          font-size: 14px;
          color: white;
          z-index: 888;
          margin-left: 56px;

          .title{
            margin-bottom: 10px;
            font-family: Amaranth-Bold;
            font-size: 25px;
          }
        }
      }

      li:nth-child(1){
        background: #1660c3;

        &::after{
          content: '';
          display: block;
          position: absolute;
          right: -102px;
          top: 0;
          border: 60px solid transparent;
          border-left: 43px solid #1660c3;
          z-index: 777;
        }
      }

      li:nth-child(2){
        background: #256dce;

        &::after{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: -102px;
          border: 60px solid transparent;
          border-left: 43px solid #256dce;
          z-index: 777;
        }
      }

      li:nth-child(3){
        background: #357fe4;

        &::after{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: -102px;
          border: 60px solid transparent;
          border-left: 43px solid #357fe4;
          z-index: 777;
        }
      }

      li:nth-child(4){
        background-color: #4891f4;

        &:last-child::after{
          content: '';
          display: none;
        }
      }
    }
  }

  .about{
    background: white;
    padding: 20px 20px 26px 20px;
    margin-bottom: 17px;

    .about-wr{
      display: flex;
      margin-bottom: 25px;

      .left{
        display: inline-block;
        width: calc(100% - 270px);
        margin-right: 20px;

        .theme{
          display: flex;
          align-items: center;
          box-sizing: border-box;
          margin-bottom: 22px;
          padding-bottom: 20px;
          border-bottom: 2px dotted #cdcdcc;

          .avatar-wr{
            width: 96px;
            height: 96px;
            flex-shrink: 0;
            background-color: grey;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 15px;

            img{
              height: 100%;
            }
          }

          .text{
            color: #3d3d3d;
            font-size: 13px;
            line-height: 16px;
            font-family: PTSans;

            .title{
              color: #1861c3;
              font-size: 26px;
              font-family: Amaranth-Bold;
              margin-bottom: 10px;
            }
          }

          &:nth-last-child(2){
            text-align: right;

            .avatar-wr{
              margin-right: 0;
              margin-left: 15px;
            }
          }
        }
      }

      .right{
        display: inline-block;
        width: 250px;
        height: 399px;
        position: relative;

        .right-wr{
          width: 220px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, 18px);

          .title{
            font-family: Amaranth-Bold;
            font-size: 36px;
            text-transform: uppercase;
            color: white;
            line-height: 42px;
            text-align: center;
            margin-bottom: 12px;

            span:nth-child(1){
              font-size: 30px;
            }

            & span:nth-child(3){
              font-size: 70px;
            }
          }

          .button-wr{
            width: 100%;
            display: flex;
            justify-content: center;

            button{
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 4px 20px;
              border-radius: 8px;
              background-image: url("../img/orange-btn-bg.png");
              background-size: cover;
              background-position: center center;
              border: none;
              cursor: pointer;

              span{
                font-size: 23px;
                text-transform: uppercase;
                font-family: Amaranth-Bold;
                color: white;
              }
            }
          }
        }
      }
    }
    .bottom{
      display: flex;
      flex-direction: column;
      align-items: center;

      .title{
        font-family: Amaranth-Bold;
        font-size: 41px;
        color: #ee5319;
        margin-bottom: 8px;
      }

      .description{
        width: 90%;
        color: #3d3d3d;
        font-size: 13px;
        line-height: 16px;
        font-family: PTSans;
        text-align: center;
        margin-bottom: 21px;
      }

      button{
        width: 446px;
        height: 39px;
        border-radius: 8px;
        background-image: url("../img/btn-bg.png");
        background-size: cover;
        background-position: center center;
        border: none;
        cursor: pointer;
        font-size: 24px;
        text-transform: uppercase;
        font-family: Amaranth-Bold;
        color: white;
        z-index: 10;
      }
    }
  }

}